$color_button: #3FBF3F;
$background_color: white;

.content_publish {
    background-color: $background_color;
    margin-bottom: 1rem;
}

.button_publish {
    background-color: $color_button;
    color: white;
    padding: 0.5rem 1.2rem;
    margin: 0.5rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 700;
}

.text_box {
    width: 97%;
    padding: 1%;
    border: none;
    font-size: 1rem;
    &::placeholder {
        color: $color_button
    }
}
